.event-summary {
  
  display: grid;
  grid-template-rows: auto 1fr auto; /* Adjust the rows as needed */
  align-items: center;
  justify-items: start; /* Pushes content to the left */
  text-align: center;
  overflow: hidden; /* Prevent content from overflowing */
  


  width: 200px;
  background: white;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  
  border: solid 1px #dcd9d3;
  border-radius: 5px;
  position: relative;


  // margin-right: 20px;
  // float: left;
}

.event-summary:nth-of-type(6n+6) {
  margin-right: 0;
}

.event-summary__img-holder {
  display: block;
  position: relative;

  justify-self: start;
  width: 100%; /* Make the image holder span the entire width */
  height: 0; /* Set initial height to 0 */
  padding-bottom: 66.67%; /* Maintain 3:2 aspect ratio for the image holder */
  position: relative;
  overflow: hidden;
  

  &:after {
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #843964;
    content: ' ';
    opacity: 0;
    transition: opacity .2s linear;
  }

  &:hover:after {
    opacity: 1;
  }
}

.event-summary__img {
  display: block;
  width: 180px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-summary__title {
  // line-height: 20px;
  margin: 10px 0;
  padding: 0;
  overflow: hidden;
  text-align: left; /* Align the title to the left */
}

.event-summary__title {
  font-size: 17px;

  line-height: normal;
  margin: 0;
  padding: 0;
  text-align: left;
 
  height: 40px;
  overflow: hidden;
  margin: 10px 0;
}

//abudi
.event-summary__title-link {
  font-weight: 600;
  color: #581c3b;
  text-decoration: none;
  
}

.event-summary__info {
  display: block;
  font-size: 14px;
  width:93.5%;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* CSS Grid changes */

@media (max-width: 440px) {
  .event-summary {
    width: 100%;
    margin-right: 0;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    float: none;
  }
}

@media (min-width: 440px) and (max-width: 879px) {
  .event-summary {
    width: 50%;
    float: left;
  }
}

@media (min-width: 880px) and (max-width: 1319px) {
  .event-summary {
    width: 25%;
    float: left;
  }
}

@media (min-width: 1320px) {
  .event-summary {
    width: calc(16.66667% - 17px); /* Adjust the width as needed */
    margin-right: 20px; /* Adjust the spacing between the cards */
    float: left;
  }
  
  .event-summary:nth-of-type(6n+6) {
    margin-right: 0;
  }
}


